# Visual Studio Code config file
.vscode

# Node dependencies
node_modules

# Log files
*.log

# Istanbul/nyc code coverage results
coverage
.nyc_output

# linter config files
.eslintrc.json

# Jenkins
JenkinsFile*
